.header__burger {
  display: none;
  cursor: pointer;
}

@include desktop-small {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: var(--primary);
    position: absolute;
    width: 30px;
    height: 4px;
    left: 0;
    transition: 0.5s all ease-in-out;
    border-radius: 2px;
  }

  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }

  .header__burger._active:before {
    transform: rotate(45deg);
    top: 8px;
  }
  .header__burger._active:after {
    transform: rotate(-45deg);
    bottom: 8px;
  }
}
