#pagination {
     display: flex;
     gap: 12px;
}

.prev-btn,
.next-btn,
.page-btn {
     width: 26px;
     height: 24px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 10;
     padding: 6px 9px 6px 9px;
     border: 1px solid var(--pagination-btn-border);
     border-radius: 4px;
     background: var(--pagination-btn-bg);
     color: var(--pagination-btn-text);
}

.page-btn:disabled {
     box-sizing: border-box;
     border: 1px solid var(--hover-bg);
     border-radius: 4px;
     color: var(--white);
     background: var(--hover-bg);
}

.pagination-container {
     margin-top: 30.5px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.pagination-desc {
     color: var(--table-header-text);
     font-size: 14px;
     font-weight: 500;
     line-height: 21px;
}